
# Fichiers Python temporaires
__pycache__/
*.py[cod]
*$py.class

# Extensions compilées
*.so

# Environnements virtuels
.venv/
env/
venv/
iam-env/
chem-env/

# Fichiers temporaires ou générés automatiquement
*.log
*.out
*.aux
*.cube
*.xyz
*.molden
*.wfn
*.json
*.tmp

# Résultats calculs IAM
IAM_Results/
IAM_Knowledge/Temporary/
IAM_Knowledge/RawData/
IAM_Utils/temp/

# Checkpoints Jupyter
.ipynb_checkpoints/

# Fichiers système
.DS_Store
Thumbs.db

# Caches Python
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/
.pytest_cache/
.mypy_cache/
.dmypy.json
.pyre/
.pytype/
.ruff_cache/

# Configs personnelles ou IDE
.vscode/
.idea/
.spyderproject
.spyproject
.ropeproject

# Fichiers Pip / Pipenv / Poetry / PDM
*.egg-info/
.eggs/
*.egg
Pipfile.lock
poetry.lock
pdm.lock
.pdm.toml
.pdm-python
.pdm-build/
.installed.cfg

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
MANIFEST

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Flask / Django / Web
instance/
.webassets-cache
local_settings.py
db.sqlite3
db.sqlite3-journal

# SageMath
*.sage.py

# Abstra / Cursor AI tools
.abstra/
.cursorignore
.cursorindexingignore

# Documentation
docs/_build/
site/

# Others
.pybuilder/
target/
.profile_default/
ipython_config.py

# PyInstaller
*.manifest
*.spec
