flask
flask-cors
rdkit
numpy
scipy
pandas
jupyterlab
matplotlib
requests
openai
flask
python-dotenv
requests
rdkit-pypi
py3Dmol
numpy
pandas
scikit-learn
torch
transformers

openai
flask
python-dotenv
requests
rdkit-pypi
py3Dmol
numpy
pandas
matplotlib
scikit-learn
torch
transformers
